.jet-advanced-list-block {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	&--columns-1 {
		> .jet-advanced-list-item-block {
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	&--columns-2 {
		> .jet-advanced-list-item-block {
			flex: 0 0 calc(50% - 10px);
			max-width: calc(50% - 10px);
		}
	}
	&--columns-3 {
		> .jet-advanced-list-item-block {
			flex: 0 0 calc(33.3333% - 13.4px);
			max-width: calc(33.3333% - 13.4px);
		}
	}
	&--columns-4 {
		> .jet-advanced-list-item-block {
			flex: 0 0 25%;
			max-width: 25%;
		}
	}
	&--columns-5 {
		> .jet-advanced-list-item-block {
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
	&--columns-6 {
		> .jet-advanced-list-item-block {
			flex: 0 0 16.6666%;
			max-width: 16.6666%;
		}
	}
	&--columns-7 {
		> .jet-advanced-list-item-block {
			flex: 0 0 14.2857%;
			max-width: 14.2857%;
		}
	}
	&--columns-8 {
		> .jet-advanced-list-item-block {
			flex: 12.5%;
			max-width: 12.5%;
		}
	}
	&--columns-9 {
		> .jet-advanced-list-item-block {
			flex: 0 0 11.1111%;
			max-width: 11.1111%;
		}
	}
	&--columns-10 {
		> .jet-advanced-list-item-block {
			flex: 0 0 10%;
			max-width: 10%;
		}
	}
}

.jet-advanced-list-item-block {
	display: flex;
	&__content {
		flex: 1 1 auto;
		display: flex;
		.jet-advanced-list-item-block--layout-horizontal-start & {
			flex-direction: row;
			justify-content: flex-start;
		}
		.jet-advanced-list-item-block--layout-horizontal-between & {
			flex-direction: row;
			justify-content: space-between;
		}
		.jet-advanced-list-item-block--layout-vertical & {
			flex-direction: column;
		}
	}
	&__title {
		padding: 0 15px 0 0;
		box-sizing: border-box;
	}
	&__icon {
		fill: currentColor !important;
		path {
			fill: currentColor !important;
		}
		&-container {
			padding: 0 10px 0 0;
		}
	}
}