.jet-advanced-list-block {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.jet-advanced-list-item-block {
	display: flex;
	&__content {
		flex: 1 1 auto;
		display: flex;
		.jet-advanced-list-item-block--layout-horizontal-start & {
			flex-direction: row;
			justify-content: flex-start;
		}
		.jet-advanced-list-item-block--layout-horizontal-between & {
			flex-direction: row;
			justify-content: space-between;
		}
		.jet-advanced-list-item-block--layout-vertical & {
			flex-direction: column;
		}
	}
	&__title {
		padding: 0 15px 0 0;
		box-sizing: border-box;
	}
	&__icon {
		fill: currentColor !important;
		path {
			fill: currentColor !important;
		}
		&-container {
			padding: 0 10px 0 0;
		}
	}
}